<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>VIEW</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body background=/images/920432331089-wallpaper-thrones-game-lost-wallpapers-atlantis-city-joschkit-eddard-stark-d7pxqjt-art.jpg>
<div class="container">
<div class="row">
<div class="col-lg-3">
<br>
<table class="table table-bordered table-hover">
<tr>
<th>LECTURER ID</th>
<th>FIRSTNAME</th>
<th>LASTNAME</th>
<th>PHONENUMBER</th>
<th>EMAIL</th>
<th>DELETE</th>
</tr>
<tr th:each="lec:${myList}">
<td th:text="${lec.lecturerId}"></td>
<td th:text="${lec.firstName}"></td>
<td th:text="${lec.lastName}"></td>
<td th:text="${lec.phoneNumber}"></td>
<td th:text="${lec.email}"></td>
<td><a th:href="@{/admin/deletelecturer(lecturerId=${lec.lecturerId})}">DELETE</a></td>
</tr>
</table>
<div  class="text-success">
<h6 th:text="${message}"></h6>
</div>
</div>
</div>
</div>
<script type="text/javascript" src="/js/jquery-3.3.1.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
</body>
</html>