<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>Lecturer</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body background="/images/eliabe-costa-702725-unsplash.jpg">
<div class="container">
<div class="row">
<div class="col-md-offset-3 col-md-3">
<br>
<form action="/admin/addlecturer"  method="post" enctype="multipart/form-data">

<div class="form-group">
<label for="myId">LecturerId</label>
<input class="form-control" id="myId" placeholder="LecturerId" type="text" name="lecturerId">
</div>
<div class="form-group">
<label for="myFname">FirstName</label>
<input class="form-control" id="myFname" placeholder="FirstName" type="text" name="firstName">
</div>
<div class="form-group">
<label for="myLname">LastName</label>
<input class="form-control" id="myLname" placeholder="LastName" type="text" name="lastName">
</div>
<div class="form-group">
<label for="myGenre">Email</label>
<input class="form-control" id="myGenre" placeholder="Email" type="text" name="email">
</div>
<div class="form-group">
<label for="myPhone">Phone</label>
<input class="form-control" id="myPhone" placeholder="PhoneNumber" type="text" name="phoneNumber">
</div>
<div class="form-group">
<label for="myPassword">Password</label>
<input class="form-control" id="myPassword" placeholder="Password" type="password" name="password">
</div>
<button type="submit" class="btn btn-default">OK</button>
</form>
<div class="text-success">
<h6 th:text="${message}"></h6>
</div>
</div>
</div>
</div>
<script type="text/javascript" src="/js/jquery-3.3.1.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
</body>
</html>